
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #333;
    font-style: bold;
    margin-top: -5px !important;
}

a, a:hover, a:focus {
    color: #17191c !important;
    text-decoration: none !important;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 5px 15px 1px;
    background: #47748b !important;
    border: none !important;
    border-radius: 0 !important;
    margin-bottom: 0px !important;
    border-color: #2b2c2d !important;
    box-shadow: 1px 0.6px 1px rgb(43, 44, 45);
}

.navbar-btn {
    box-shadow: 1px 1px 1px rgb(43, 44, 45);
    background: #ffffff !important;
    color:#000000 !important;
    outline: none !important;
    border: none;
    margin-top: -20px !important;
	margin-bottom: 1px !important;
}

.navbar-header {
    margin-right: 15px !important;
    margin-left: 5px !important;
}

.navbar-nav > li > a {
    padding-top: 9px !important;
    padding-bottom: 5px !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #b5b5b5;
    margin: 20px 0;
}

i, span {
    display: inline-block;
}

h1{
	line-height: 0 !important;
}

h3 {
	margin-top: 14px !important;
	margin-bottom: 13px !important;
}

h4 {
    margin-right: 13px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #fff !important;
}

hr {
	border-top: 1px solid #b5b5b5 !important;
}

.title-container{
	font-size: 25px;
	background: #fff8b2;
	padding: 20px 20px 20px 20px;
	box-shadow: 1px 1px 1px rgb(43, 44, 45);
}

.text-container{
	background: #f7f6ef;
	padding: 20px 20px 0px 20px !important;
}

.btn {
	padding: 4px 10px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
}

.btn-primary {
    color: #fff !important;
}
.btn-btn {
    box-shadow: 1px 1px 1px rgb(43, 44, 45);
    background: #ebebe0 !important;
    color:#000000 !important;
    outline: none !important;
    border: none;
    border-color: #828384 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 255px;
    max-width: 255px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#DBDBDB), to(#ccc7c7));
  	background-image: -moz-linear-gradient(top, #DBDBDB, #ccc7c7);
  	background-image: -o-linear-gradient(top, #DBDBDB, #ccc7c7);
  	background-image: linear-gradient(top, #DBDBDB, #ccc7c7);
}

#sidebar.active {
    min-width: 85px;
    max-width: 85px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 10px 10px 10px 20px;
    background: #47748b;
    border-bottom: 0.1px solid #47748b;
    border-right: 1.1px solid #47748b;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    margin-top: -20px !important;
}

#sidebar ul li a {
    padding: 10px;
    border-bottom: 1.1px solid #47748b;
    border-right: 1.1px solid #47748b;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

.box {
	   color: white !important;
}

.box:hover {
	   color: black !important;
}


.sideboxlist {
    background-color: #f7f6ef !important;
}

.sideboxlist:hover {
    background-color: #8c192a !important;
    color: white !important;
}

.sidebox:hover {
    background-color: #8c192a !important;
    color: white !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 1.1em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 1.1em !important;
    display: block;
    border-radius: 3px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 0px 0px 20px 0px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100% !important;
}

.pagination{
    letter-spacing: 6px !important;
    font-size: 20px;
    color: #3372FF;
}

td.none-border{
    border-top: 1px solid #f7f6ef !important;
    border-right: 1px solid #f7f6ef !important;
    border-bottom: 1px solid #f7f6ef !important;
}

th{
    font-size: 15px;
    border-bottom: 1.5px solid #898989 !important;
    border-right: 1.5px solid #898989 !important;
    text-align: center !important;
}

td{
    font-size: 14px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
    border-top: 1px solid #b9b6b6 !important;
    border-right: 1px solid #b9b6b6 !important;
    border-bottom: 1px solid #b9b6b6 !important;
    text-align: center !important;
}

/* ---------------------------------------------------
    input text
----------------------------------------------------- */

.text-input{
  
  position: relative;
  margin-top: 50px;
  }
  input[type="text"]{
    display: inline-block;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #686868;
    border-radius: 3px;
    padding: 5px 10px 5px 10px !important;
    transition: all 0.1s ease-out;
    font-size: 12px;
  }

  select{
  	display: inline-block;
    width: 100% !important;
    height: 30px !important;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #686868;
    border-radius: 3px !important;
    padding: 0 0 0 10px;
    transition: all 0.1s ease-out;
    font-size: 12px;
  }


/* ---------------------------------------------------
    form
----------------------------------------------------- */

.form-control-feedback {
	display: none;
}

.has-feedback {
	&.has-success .feedback-success,
	&.has-error .feedback-error {
		display: block;
	}
}

.form-group > label + .help-block {
	margin-top: -5px;
	margin-bottom: 5px;
}

.label {
    line-height: 2 !important;
    color: #fff !important;
}

.top-buffer{
  margin-top:20px;
}

.col-breakdown{
  font-size: 12px;
}
.col-breakdown .col-example {
  border:1px solid red;
  min-height: 40px;
}

.hidden{
    display: block;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -90px !important ;
        margin-right: 7px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none !important;
        display: ;
    }
}


/* ---------------------------------------------------
    barre-code
----------------------------------------------------- */


.barcode2D,
  #miscCanvas{
    display: none;
              color:#7F7F7F;
          font-family:Arial,sans-serif;
          font-size:12px;
          font-weight:normal;
          
  }
  #submit{
      clear: both;
  }
  #barcodeTarget,
  #canvasTarget{
    margin-top: 20px;
              color:#7F7F7F;
          font-family:Arial,sans-serif;
          font-size:12px;
          font-weight:normal;
  }   

/* ---------------------------------------------------
    slider
----------------------------------------------------- */
.slider{
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 150px auto;
}
    .slides{
        witdh: calc(500px * 3);
        animation: glisse 10s infinite;
    }
    .slide{
        float:left;
    }

    @keyframes glisse {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(0);
        }
        33%{
            transform: translateX(-500px);
        }
        43%{
            transform: translateX(-500px);
        }
        66%{
            transform: translateX(-1000px);
        }
        76%{
            transform: translateX(-1000px);
        }
        100%{
            transform: translateX(0);
        }

    }